* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
}

body {
    background-color: aliceblue;
}

.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
    margin: auto;
    display: inline block;
}

.navbar {
    display: block;
    background-color: rgb(146, 205, 250);
    overflow: hidden;
    padding: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.navbar a {
    padding: 20px 20px;
    display: inline;
    font-size: large;
    float: right;
    text-align: center;
}

.navbar a:hover {
    background-color: whitesmoke;
    color: black;
}

.navbar a.active {
    background-color: lavender;
    color: deeppink;
}

.welcome {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: rgb(146, 205, 250);
    color: black;
}

.about-me, .work, .contact-me, .resume {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    gap: 30px;
    flex: 1 1 auto;
    align-self: auto;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 15px;
    width: 90%;
    padding: 30px;
    border: 3px dashed rgb(113, 80, 85);
}

#id_about {
    flex: 3 1 auto;
    flex-shrink: 1;
}


@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  