* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.banner-photo {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: 100%;
    border: 1px solid black;
    margin-bottom: 10px;
}

body {
    background-color: aliceblue;
}

.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px;
    margin: auto;
    display: inline block;
}

.navbar, .contact-me {
    display: block;
    background-color: rgb(146, 205, 250);
    overflow: hidden;
    padding: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.navbar a {
    padding: 20px 20px;
    display: inline;
    font-size: large;
    float: right;
    text-align: center;
    background-color: rgb(146, 205, 250);
}

.navbar a:hover {
    background-color: lavender;
    color: deeppink;
    border-radius: 50px;
}

.navbar a:active {
    background-color: whitesmoke;
    color: black;
}

.welcome {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
    background-color: rgb(146, 205, 250);
    color: black;
}

aside {
    background-color: azure;
    width: 20%;
    padding-left: 15px;
}

.headshot {
    max-width: 100%;
    max-height: fit-content;
}

.bio {
    display: flex;
    flex: wrap;
    flex: 1 0 auto;
    max-width: 80%;
    margin-bottom: 20px;
    margin-left: 50px;
    flex-direction: row;
    text-indent: 30px;
    padding: 5px;
}

 h3 {
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-decoration: underline;
    padding-top: 25px;
    padding-bottom: 25px;
 }
 
 .work {
    background-color: darkgrey;
    display: flex;
}

#id_work {
    font-size: medium;
    color: black;
    display: block;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    margin-inline-start: auto;
}

.java-img, .api-img, .react-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 10px
 }

.container {
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
  }

.work main {
    width: 100%;
}

.java-overlay, .api-overlay, .react-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .container:hover .java-overlay, .api-overlay, .react-overlay {
    opacity: 1;
}


.resume {
    background-color: dimgray;
    margin: 30px 200px;
}


#id_contact li {
    padding: 20px 20px;
    margin: 10px 15px 10px 15px;
    display: block;
    display: inline;
    font-size: large;
    text-align: center;
}


.table {
	display: table;
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 10px;
    padding-bottom: 20px;
	}
	ul#horizontal-list li {
		display: inline;
        font-size: x-large;
        font-family: monospace;
        padding-left: 30px;
        padding-right: 30px;
	}

.footer {
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    background-color: midnightblue;
    color: chocolate;
    text-align: center;
    display: block;
    padding-top: 3px;
}

@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    main {
      max-width: 1200px;
    }
  }
  